
<div class="container d-flex flex-column align-items-center justify-content-center">

  <div class="row">
      <div class="col-md">
          <h2 class="grey">Login</h2>
      </div>
  </div>


  
  
  <div class="row mt-4">    
  <div class="col-md mx-auto">
      
      <form class="form-inline" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

         <!-- Error Messages -->
         <div *ngIf="submitted && getFormControls.username.errors" class="alert alert-danger" role="alert">
                <div *ngIf="getFormControls.username.errors.required">Username is required</div>
                <div *ngIf="getFormControls.username.errors.minlength">Username must be at least 4 characters</div>
          </div>
    
          <div *ngIf="submitted && getFormControls.password.errors" class="alert alert-danger" role="alert">
              <div *ngIf="getFormControls.password.errors.required">Password is required</div>
              <div *ngIf="getFormControls.password.errors.minlength">Password must be at least 5 characters</div>
        </div>
    
        <input type="text" class="form-control mr-3" formControlName="username" placeholder="username">
      
        <input type="password" class="form-control mr-3" formControlName="password" placeholder="password" >
        
        <button type="submit" class="btn hangman-bluebtn ">Submit</button> 
        
      </form>


  </div>

  
    
  </div>


  <div class="row mt-3">
        <div class="col-md">
  
              <a href="https://hangman-backend.herokuapp.com/api/v1/auth/providers/facebook/" class="btn btn-social btn-facebook social-btn mt-2 ">
                  <span><i class="fa fa-facebook"></i> Sign in with Facebook</span>
              </a> 
  
        </div>
    </div>
</div>
