<div class="container d-flex flex-column align-items-center justify-content-center">

    <!--  area for Hangmn display -->
    <div class="row hangman-display mt-5" >
        <div class="col-md-12 h">
           <img src="{{hangManImage}}" alt="hangman image" > 
        </div>
    </div>


    <div class="row d-flex flex-row justify-content-center flex-nowrap" style="text-align:center">
        <div class="col-md wordmatch-container wordmatch-display mt-15 mb-20 flex-nowrap">
            <span>{{matchs}}</span>
        </div>
        <!-- 
    <div class="col-md-12 attempts-container">
        <small  class="form-text text-muted">Attempts: 0</small>
     </div> -->
    </div>

    <div class="row" *ngIf="gameOver">
        <div class="col-md-12" style="text-align:center" *ngIf="status === 'won'">
            <app-won></app-won>
        </div>

        <div class="col-md-12" style="text-align:center" *ngIf="status == 'lost'">
                <app-loss></app-loss>
            </div>
    </div>

    <div class="row" *ngIf="!gameOver">
        <div class="col-md-12" style="text-align:center">
            <form [formGroup]="wordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- Error Messages -->
                    <div *ngIf="submitted && getFormControls.guess.errors" class="alert alert-danger" role="alert">
                        <div *ngIf="getFormControls.guess.errors.required">A guess is required</div>
                        <div *ngIf="getFormControls.guess.errors.maxlength">You can only guess 1 word at a time</div>
                    </div>

                    <input type="text" class="form-control" placeholder="Enter Guess..." formControlName="guess">
                    <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
                </div>
                <button type="submit" class="btn hangman-lightBlueBtn ">Submit</button>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12 attempts-container">
            <small class="form-text text-muted"><span class="red">Attempts:</span> {{attempts}}</small>
        </div>
    </div>


</div>

