/* You can add global styles to this file, and also import other style files */


/* Global Styles */
* { box-sizing: border-box; }

html {
    -webkit-font-smoothing: antialiased;
}





/* Spacing Styles */
.mt-25 {
    margin-top: 25px;
}



/* Nav Styles */
.nav-hangmanBlue {
    background: #1678FF;
    
}

.nav-hangmanBlue h1 {
    color: white;
}

.nav-hangmanBlue a {
    color: black;
    text-decoration: none;
}



/* Button Styles */
.hangman-bluebtn {
    background: #003C85;
    color: white;
}