/* You can add global styles to this file, and also import other style files */


/* Global Styles */
* { box-sizing: border-box; }

html {
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.bg-overlay-opacity {
    background: rgba(255, 255, 255, 0.4); 
    transition: opacity .5s 0.1s ease;
}

.light-green { color: green;}

/* Spacing Styles */
.mt-25 {
    margin-top: 25px;
}





/* Colors */
.grey {
    color: rgb(72, 72, 72) !important;
}

.red { color: red; }



/* Nav Styles */
.nav-hangmanBlue {
    background: #1678FF;
    
}

.nav-hangmanBlue h1 {
    color: white;
}

.nav-hangmanBlue a {
    color: black;
    text-decoration: none;
}



/* Button Styles */
.hangman-bluebtn {
    background: #003C85;
    color: white;
}

.hangman-lightBlueBtn {
    background: #7CB3FF;
    color: black;
}



/*  Input styles */


.status-font {
    font: 110px !important;
}