/* You can add global styles to this file, and also import other style files */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Gentium Basic', serif; */

/* Global Styles */
* { box-sizing: border-box; }

html {
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    /* background-color: rgb(242, 242, 242); */
    
    background-color: rgb(255,255,255);
}


.bg-overlay-opacity {
    background: rgba(12, 10, 10, 0.4); 
    transition: opacity .5s 0.1s ease;
}

.light-green { color: green;}

/* Spacing Styles */
.mt-25 {
    margin-top: 25px;
}





/* Colors */
.grey {
    color: rgb(72, 72, 72) !important;
}

.red { color: red; }



/* Nav Styles */
.nav-hangmanBlue {
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.nav-hangmanBlue h1 {
    color: white;
}

.nav-hangmanBlue a {
    color: black;
    text-decoration: none;
}



/* Button Styles */
.hangman-bluebtn {
    background: #003C85;
    color: white;
}

.hangman-lightBlueBtn {
    background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
}



/*  Input styles */


.status-font {
    font: 110px !important;
}


/*  Font Styles */
.font-600 {
    font-weight: 600px;
}