<div class="container d-flex flex-column align-items-center justify-content-center mt-5" style="text-align:center">
    <div class="row">
      <h1>Welcome Back, {{ username }}</h1>
    </div>


    <div class="row d-flex mt-5" style="width: 100%; text-align: left;">

        <div class="col-md-10 mb-3">
           <h2>User Stats:</h2>
        </div>
      <div class="col-md-10">
          <p class="grey"><strong>Games Played:</strong>{{gamesPlayed}}</p>
      </div>

      <div class="col-md-10">
      
          <p class="grey"><strong>Games Won:</strong>{{gamesWon}}</p>
      </div>

      <div class="col-md-10">
          <p class="grey"><strong>Games Lost:</strong>{{gamesLost}}</p>
      </div>
     
    </div>



    <div class="row mt-5" style="width: 100%; text-align: left;">

        <div class="col-md-10 mb-3">
           <h2>Game History:</h2>
        </div>

        <div class="row" style="width: 100%; text-align: left;">

          
          <div class="col-md-10">
              <div *ngFor="let games of gamesCompleted">
                    <p class="grey"><strong>Game id: </strong>{{games.id}}<strong class="ml-5">Word: </strong>{{games.word}}<strong class="ml-5">Attempts: </strong>{{games.attempts}}<strong class="ml-5">Status: </strong>{{games.status}}</p>
              </div>
              
          </div>
        </div>
    
     
    </div>

  
  </div>